<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="conatiner-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/view_collect" class="active">Collections</a></li>
    </ul>
    <div class="dropdown">
        <ul class="nav navbar-nav navbar-right dropdown">
          <li><a href="logout.php">
              <span class="glyphicon glyphicon-user"></span><%=u %></a></li>
        </ul>
    </div>
  </div>
</nav>
