.container-fluid {
	width: 100%;
}
.navbar {
	border-radius: 0px;
}
.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0px;
	border: 1px solid transparent;
}

.navbar-nav > li:hover {
	background-color: grey;
}
.navbar-nav > li > a.active {
  color: #191919;
  background-color: #C89E00;
}
.navbar-right {
	float: right !important;
	margin: 0px;
}
.container .jumbotron {
	text-align: center;
	border-radius: 0px;
}
.carousel-inner > .item {
	background-color: #f6f6f6;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	text-align: center;
	margin: auto;
  max-height: 760px;
}

.style-list {
	list-style-type: none;
	font-size: 120%;
}
.larger-font {
	font-size: 120%;
}

#price {
	color: blue;
}
.product {
	Height: 183px;
}


input[type=checkbox] {
	display:none;
}

input[type=checkbox] + label
{
 	background: url("../img/plus.png") no-repeat;
	background-size: 25px 30px;
	height: 30px;
	width: 30px;
	display:inline-block;
	padding: 0 0 0 0px;
}
input[type=checkbox] + label:img
{
	height: 20px;
	width: 20px;
}
input[type=checkbox]:checked + label
{
 	background: url("../img/minus.png") no-repeat;
	background-size: 25px 30px;
	height: 30px;
	width: 30px;
	display:inline-block;
	padding: 0 0 0 0px;
}
.center-checkbox {
	display: flex;
	justify-content: center;

}
.btn-yellow{
	background-color: #C89E00;
}
.page {
	background-color: #f0f0f0;
	height: 40px;
	margin-bottom: 50px;
	width:100%;
	text-align: center;
}
