.container-fluid {
	width: 100%;
}
.navbar {
	border-radius: 0px;
}
.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0px;
	border: 1px solid transparent;
}

.navbar-nav > li:hover {
	background-color: grey;
}
.navbar-nav > li > a.active {
  color: #191919;
  background-color: #C89E00;
}
.navbar-right {
	float: right !important;
	margin: 0px;
}
.navbar-fixed-top {
    margin-top: 0;
	position: fixed;
}
.container .jumbotron {
	text-align: center;
	border-radius: 0px;
}
.carousel-inner > .item {
	background-color: #f6f6f6;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	text-align: center;
	margin: auto;
  max-height: 760px;
}

.style-list {
	list-style-type: none;
	font-size: 120%;
}
.larger-font {
	font-size: 120%;
}

#price {
	color: blue;
}
.product {
	Height: 183px;
}


input[type=checkbox] {
	display:none;
}

input[type=checkbox] + label
{
 	background: url("../img/plus.png") no-repeat;
	background-size: 25px 30px;
	height: 30px;
	width: 30px;
	display:inline-block;
	padding: 0 0 0 0px;
}
input[type=checkbox] + label:img
{
	height: 20px;
	width: 20px;
}
input[type=checkbox]:checked + label
{
 	background: url("../img/minus.png") no-repeat;
	background-size: 25px 30px;
	height: 30px;
	width: 30px;
	display:inline-block;
	padding: 0 0 0 0px;
}
.center-checkbox {
	display: flex;
	justify-content: center;

}
.btn-yellow{
	background-color: #C89E00;
}
.page {
	background-color: #f0f0f0;
	height: 40px;
	margin-bottom: 50px;
	width:100%;
	text-align: center;
}

#overlay {
    display: block;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:grey;
    opacity:0.8;
    z-index:1001;
}
#overlay-form {
    display: block;
    top: 250px;
    left: 0;
    right: 0;
    border-radius: 15px;
    border: 1px solid #bbb;
    margin: auto;
    text-align: left;
    position: fixed;
    height: auto;
    background-color:#fff;
    opacity:1;
    z-index:1002;
}

#form-title {
    padding-top: 25px;
    padding-bottom: 40px;
    margin-bottom: 10px;
}

.drop-files-container {
    width: 500px;
    height: 300px;
    background-color: aquamarine;
}

.collection_thumbnail {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.collection_thumbnail img {
    width: auto;
    height: 200px;
    margin-right: 40px;
}
.side_menu {
	position: fixed;
    margin-top:50px;
	height: 100%;
	background-color: #f8f8f8;
	border-right: 1px solid #e7e7e7;
}
.header {
    height: 50px;
    width: 100%
    margin-top: 50px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
    position: fixed;
    z-index: 1000;
}
.collection-header {
    height: auto;
    width: 100%;
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}
.loaded_php {
    padding-top: 50px;
    z-index: -1;
}
#form_data {
    margin-top: 70px;
    margin-left: 20px;
}
.flex-between {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.selected {
    border: 3px solid #C89E00;
}
/******************************
*
*   packery
*
******************************/
/* ---- grid ---- */

.grid-client {
  background: #fff;
    margin: 0 auto;
}
.grid-admin {
  background: #fff;
    margin-left:105px;
    padding-top: 100px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;

}
.grid-item img{
    width: 233px;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag img {
  z-index: 1000;
}

.packery-drop-placeholder {
  outline: 3px dashed hsla(0, 0%, 0%, 0.5);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}

.grid-item-client {
  float: left;
}

.grid-item-client img{
  width: 360px;
  height: auto;
  float: left;
}
/******************************
*
*   admin header
*
******************************/
#save_order {
    margin-top: 8px;
    margin-left: 15px;
    position: fixed;
    z-index: 1000;
    color: white;
}
#add_photos {
    margin-top: 8px;
    right: 15px;
    z-index: 1000;
    position: fixed;
    color: white;
}
#delete_selected {
    margin-top: 8px;
    right: 125px;
    z-index: 1000;
    position: fixed;
    display: none;
    color: white;
}
#make-cover-photo {
    margin-top: 8px;
    right: 265px;
    z-index: 1000;
    position: fixed;
    display: none;
    color: white;
}
#file_search {
    position: fixed;
    right: 15px;
    z-index: 1000;
}
#reset_form {
    position: fixed;
    right: 45px;
    z-index: 1000;
}
#img_upload {
    position: fixed;
    margin-left: 15px;
    z-index: 1000;
}
#btn-new-collection {
    margin-right: 8px;
}
.btn-collection-submit {
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.close_form {
    margin-top: 15px;
}
li list-options {
    width: 100%;
    height: 5px;
}
#client-view-btn {
    position: fixed;
    bottom: 50px;
    z-index: 1005;
}

.lock {
    margin-top: 23px;
}

/******************************
*
*   album list
*
******************************/
#sortable {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 60%;
}

#sortable li {
      margin: 0 5px 5px 5px;
      padding: 5px;
      font-size: 1.3em;
      height: 1.7em;
    width: 220px;
}

#sortable li:hover .trash { display: inline; }
.trash {display: none;}

#sortable li a {
    color: black;
}

#sortable li a:hover {
    text-decoration: none;
}

.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}
.flex-between {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.new-album-list-item input{
    height: 30px;
    margin-top: -5px;
    margin-left: 1px;
    width: 185px;
}

/******************************
*
*   client view
*
******************************/
 #fullscreen img {
    position: fixed;
     left: 0px;
     right: 0px;
    top: 70px;
    max-width: 1200px;
    max-height: 91%;
    margin: auto;
    z-index: 2000;
}
.overlay-white {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: white;
    z-index:1001;
}
#fullscreen {
    display: none;
}
#fullscreen .close {
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 1002;
}
.selected_album {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
/******************************
*
*   dropzone style
*
******************************/
#actions {
  margin: 2em 0;
}

/* Mimic table appearance */
div.table {
  display: table;
}
div.table .file-row {
  display: table-row;
}
div.table .file-row > div {
  display: table-cell;
  vertical-align: top;
  border-top: 1px solid #ddd;
  padding: 8px;
}
div.table .file-row:nth-child(odd) {
  background: #f9f9f9;
}

/* The total progress gets shown by event listeners */
#total-progress {
    margin-top: 30px;
  opacity: 0;
  transition: opacity 0.3s linear;
}

/* Hide the progress bar when finished */
#previews .file-row.dz-success .progress {
  opacity: 0;
  transition: opacity 0.3s linear;
}

/* Hide the complete button initially */
#previews .file-row .complete {
  display: none;
}

/* Hide the start and cancel buttons and show the complete button */

#previews .file-row.dz-success .start,
#previews .file-row.dz-success .cancel {
  display: none;
}
#previews .file-row.dz-success .complete {
  display: inline;
}

#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: none;
   opacity: 0.7;
   background-color: #fff;
   z-index: 1999;
   text-align: center;
}

#loading-image {
  position: absolute;
    height: 100px;
    width: 100px;
  top: 300px;
  left: auto;
  right: auto;
  z-index: 2000;
}
#loading-message {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 420px;
    left: auto;
    right: auto;
    z-index: 2000;
}
