<html>
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
<div class="container-fluid">
  <% include ../partials/navbar %>
  <div class="container">
    <div class="collection-header flex-between">
      <h2>Collections</h2>
      <button class="btn btn-lg" onclick="showForm()" id="btn-new-collection">
        <span class="glyphicon glyphicon-plus"></span>
        New Collection</button>
    </div>
    <div class="collection_thumbnail">
      <div><img src="#"><br/>
      </div>
    </div>
  </div>
</div>
</body>
</html>