<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script type="text/javascript">
            function validate() {
                var username = document.getElementById("username").value;
                var p = document.getElementById("password").value;

                if(username == "") {
                    alert("username field is blank");
                    return false;
                }if(p == "") {
                    alert("password field is blank");
                    return false;
                }
            }
        </script>
    </head>
    <body>
    <div class="container">
    <h1>Site Admin Portal</h1>
    <form method="post" action="/login" onsubmit="return validate()"
          class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">
        <div class="form-group row">
          <div class="col-10">
            <label for="username" class="col-2 col-form-label">Username</label>
            <input class="form-control" type="text" id="username" name="username">
            <label for="password" class="col-2 col-form-label">Password</label>
            <input class="form-control" type="password" id="password" name="pass">
            <br/>
            <button type="submit" value="login"
                    class="btn btn-lg btn-yellow pull-right">login</button>
          </div>
        </div>
    </form>
    </div>
    </body>
</html>
